<module>
  <rawname>queueprio</rawname>
  <repo>extended</repo>
  <name>Queue Priorities</name>
  <version>17.0.1.1</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
  <category>Applications</category>
  <description>
		Adds the ability to set a callers priority higher before entering a queue
	</description>
  <more-info>https://wiki.freepbx.org/display/FPG/Queue+Priorities+Module</more-info>
  <menuitems>
    <queueprio needsenginedb="yes">Queue Priorities</queueprio>
  </menuitems>
  <popovers>
    <queueprio>
      <display>queueprio</display>
    </queueprio>
  </popovers>
	<changelog>
    		*17.0.1.1* 17.0
    		*17.0.1* 17.0
	</changelog>
  <database>
	<table name="queueprio">
		<field name="queueprio_id" type="integer" primarykey="true" autoincrement="true"/>
		<field name="queue_priority" type="string" length="50" notnull="false"/>
		<field name="description" type="string" length="50" notnull="false"/>
		<field name="dest" type="string" length="255" notnull="false"/>
	</table>
  </database>
  <depends>
    <version>17.0</version>
  </depends>
  <location>release/2.11/queueprio-2.11.0.0.tgz</location>
  <md5sum>72e836e63a0c82ca961900cbf445def2</md5sum>
  <supported>
    <version>17.0</version>
  </supported>
</module>
