<module>
	<rawname>queueprio</rawname>
	<repo>extended</repo>
	<name>Queue Priorities</name>
	<version>2.9.0.1</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<category>Apps</category>
	<description>
		Adds the ability to set a callers priority higher before entering a queue
	</description>
	<menuitems>
		<queueprio>Queue Priorities</queueprio>
	</menuitems>
	<changelog>
		*2.9.0.1* set repository
		*2.9.0.0* #4655
	</changelog>
	<depends>
		<version>2.5.0alpha1</version>
	</depends>
	<location>release/2.9/queueprio-2.9.0.1.tgz</location>
	<md5sum>98a6006874dd08ee737e7e997f449c17</md5sum>
</module>
